h1{
    color: #3700b3;
    font-size: 50px;
    font-weight: bold;
}
#main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border: 2px solid #3700b3;
    border-radius: 15px;
    flex-wrap: wrap;
}

#main-page *{
    margin: 20px;
}
.newtask{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}