<div id="main-page">
    <h1>TOUTOULIST</h1>
    
    <div class="task" *ngFor="let task of task_list">
        <app-task [text]="task"></app-task>
        <button mat-raised-button color="primary"(click)="openDialog(task)">modifier</button>
        <button mat-raised-button color="primary" (click)="remove_task(task)">supprimer</button>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Nouvelle Tâche</mat-label>
            <input matInput type="text" #newTask>
        </mat-form-field>
        
        <button mat-raised-button color="primary" (click)="add_task(newTask.value)">ajouter une tache</button>
    </div>
</div>

<app-compte-rendu></app-compte-rendu>
